<%- partial("header.ejs") %>
		<h2><%= displayName %></h2>
		<p><%= description %></p>
		<div id="player_live" style="display:block; width: 720px; height: 480px;">
		</div>
<%- partial("footer.ejs") %>
